* {
	box-sizing: border-box;
}

/* REM SETTINGS */

html {
	// This defines what 1 rem is 
	font-size: 62.5% !important; // 1rem = 10px; 10px/16px = 62.5%

	// @include respond(1200px) {
	// 	font-size: 56.25% !important; // 1 rem = 9 px; 9/16px = 56.25%
	// }

	// @include respond(1000px) {
	// 	font-size: 50% !important; // 1 rem = 8px; 8/16px = 50% 
	// }

	// @include respond(900px) {
	// 	font-size: 43% !important; // 1 rem = 7px; 7/16 = 43%
	// }

	// @include respond(big-desktop) {
	// 	font-size: 75% !important; // 1rem = 12px; 12/16px = 75%
	// }
}

/* FONTS */ 

$main-font: 'Raleway', sans-serif;

body {
	font-family: $main-font;
}

/* COLORS */ 

$color-main: #171819;
$color-secondary: #BDBDBD;

/* BOUNDING CONTAINER */ 

.container {
	max-width: 130rem;
	padding-left: 3rem;
	padding-right: 3rem;
	margin: 0 auto;
}

/* ARROW DOWN */ 

.arrow-down {
	margin-left: 1rem;
}

/* BUTTONS */ 

.button-white {
	display: block;
	padding: 1.6rem 3rem;
	border-radius: 8px;
	border: 1px solid $color-main;
	background: #FFF;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	width: max-content;

	color: $color-main;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.118;
	text-transform: uppercase;
	text-decoration: none;

	transition: all .3s;
	cursor: pointer;

	&:hover {
		color: #fff;
		background: $color-main;
	}
}

.button-white.heart {
	padding: 0;
	width: 8.5rem;
	height: 5.4rem;

	background-image: url(/assets/images/icons/ic_heart.svg);
	background-position: center;
	background-repeat: no-repeat;

	&:hover {
		background: #FFF;
		background-image: url(/assets/images/icons/heart-fill.svg);
		background-repeat: no-repeat;
		background-position: center;
	}
}

.button-white.disabled {
	background: $color-secondary;
	color: transparent;
	cursor: default;
}

.button-dark {
	display: block;
	padding: 1.6rem 3rem;
	border-radius: 8px;
	border: 1px solid $color-main;
	background: $color-main;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	width: max-content;

	color: #FFF ;
	font-size: 1.8rem;
	font-weight: 600;
	line-height: 1.118;
	text-transform: uppercase;
	text-decoration: none;

	transition: all .3s;
	cursor: pointer;

	&:hover {
		color: $color-main;
		background: #FFF;
	}
}

/* CARDS */ 

.default-cards {
	display: flex;
	justify-content: space-between;	
	position: relative;

	&__next {
		z-index: 5;

		position: absolute;
		top: calc(50% - 15px);
		right: 1rem;
		display: none;
		cursor: pointer;

		&.active {
			display: block;
		}
	}

	&__previous {
		z-index: 5;
		
		position: absolute;
		top: calc(50% - 15px);
		left: 1rem;
		display: none;
		cursor: pointer;

		&.active {
			display: block;
		}
	}

	&__footer {
		padding: 10rem 0 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__load-more {
		margin-bottom: 5rem;
	}
	.button-white {
	}
	&__pagination {
		display: flex;
		align-items: flex-end;
	}
	&__pagination-item {
		padding: 0.5rem 1.5rem;

		border-radius: 8px;
		border: 1px solid $color-main;

		color: $color-main;
		font-size: 2.1rem;
		font-weight: 400;

		transition: all .15s;
		cursor: pointer;

		&:not(:last-child) {
			margin-right: 2rem;
		}

	}
	&__pagination-item.active, &__pagination-item:hover {
		color: #fff;
		background: $color-main;
	}
}

.default-card {
	max-width: 24.2%;
	position: relative;

	&:not(:last-child) {
		margin-right: 15px;
	}

	&__sale-badge {
		position: absolute;
		top: 2rem;
		left: 2rem;

		color: $color-main;
		font-size: 1.8rem;
		font-weight: 400;
		line-height: 1.18;
		text-transform: uppercase;

		padding: 0.7rem 1.7rem;
		border-radius: 50px;
		border: 1px solid $color-main;
		background: #FFF;
	}

	&__img {
		width: 100%;
		object-fit: cover;
	}
	&__info {
		border: 1px solid $color-main;
		padding: 2rem;
		margin-top: -3px;

		display: flex;
		flex-direction: column;
	}
	&__title {
		margin-bottom: 1rem;

		color: $color-main;
		font-size: 1.8rem;
		font-weight: 400;
		line-height: 1.18;
		text-transform: capitalize;
	}
	&__price {
		color: $color-main;
		font-size: 1.8rem;
		font-weight: 600;
		line-height: 1.18;
		text-transform: capitalize;
	}
}
.default-info-card {
	display: flex;
	flex-direction: column;

	&__title {
		margin: 0;
		margin-bottom: 4rem;

		color: $color-main;
		font-size: 2.5rem;
		font-weight: 600;
		line-height: 1.55;
	}
	&__description {
		max-width: 26rem;

		color: $color-main;
		font-size: 1.8rem;
		font-weight: 400;
		line-height: 1.18;
	}

	.button-white {
		margin-top: auto;
	}
}

/* BREADCRUMBS */

.breadcrumbs {

	.container {
	}
	&__links {
		display: flex;
		align-items: center;

	}
	&__link {
		color: $color-secondary;
		font-size: 18px;
		font-weight: 400;
		line-height: 0.89; /* 89.444% */
		text-decoration: none;
		transition: all .3s;

		&:not(:last-child) {
			margin-right: 4rem;
			position: relative;

			&:hover {
				color: $color-main;
				text-decoration: underline;
			}

			&::after {
				content: '';
				position: absolute;
				top: calc(50% - 0.375rem);
				right: -2rem;
				width: 0.4rem;
				height: 0.75rem;
				background-image: url(/assets/images/icons/arrow_right.svg);
				background-position: center;
				background-size: cover;
			}
		}
	}
	&__link.active {
		color: #171819;
		text-decoration: underline;
		cursor: default;
	}
}


/* INPUT CHECKBOX */ 

input[type="checkbox"] {
	/* Add if not using autoprefixer */
	-webkit-appearance: none;
	/* Remove most all native input styles */
	appearance: none;
	/* For iOS < 15 */
	background-color: var(--form-background);
	/* Not removed via appearance */
	margin: 0;
	
	color: $color-main;
	width: 1.5rem;
	height: 1.5rem;
	border: 1px solid $color-main;
	transform: translateY(-0.075em);
	
	display: grid;
	place-content: center;
}
  
input[type="checkbox"]::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	transform: scale(0);
	transform-origin: bottom left;
	transition: .05s transform ease-in-out;
	box-shadow: inset 1em 1em var(--form-control-color);
	/* Windows High Contrast Mode */
	background-color: CanvasText;
}
  
input[type="checkbox"]:checked::before {
	transform: scale(1);
}

// input[type="checkbox"]:focus {
// 	outline: max(2px, 0.15em) solid currentColor;
// 	outline-offset: max(2px, 0.15em);
// }

input[type="checkbox"]:disabled {
	--form-control-color: var(--form-control-disabled);
	
	color: var(--form-control-disabled);
	cursor: not-allowed;
}

/* CHANGE AMOUNT */

.change-amount {
	display: flex;
	align-items: center;
}
.change-amount__less, .change-amount__more {
	position: relative;
	margin: 0;
	width: 40px;
	height: 30px;
	font-weight: 400;

	border: 1px solid $color-main;
	border-radius: 8px;

	transition: all .3s;
	cursor: pointer;

	&:hover {
		color: #fff;
		background: $color-main;
	}
}

.change-amount__less {
	&::after {
		position: absolute;
		content: '-';
		height: 1px;
		font-size: 38px;
		top: -35%;
		left: 32%;
	}
}
.change-amount__more {
	&::after {
		position: absolute;
		content: '+';
		height: 1px;
		font-size: 38px;
		top: -26%;
		left: 31%;
	}
}
.change-amount__counter {
	margin: 0 1rem;

	color: $color-main;
	font-size: 2.1rem;
	font-weight: 400;
}

/* HORIZONTAL CARD */ 

.horizontal-card {
	display: flex;
	border: 1px solid $color-main;

	&:not(:last-child) {
		margin-bottom: 2rem;
	}

	&__image {
		width: 23.52%;
	}
	&__body {
		width: 100%;
		padding: 2rem;
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		margin-bottom: 2rem;
	}
	&__title, &__price {
		color: $color-main;
		font-size: 2.5rem;
		font-weight: 600;
	}
	
	&__description {
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;
	}
	&__description-item {
		color: $color-secondary;
		font-size: 1.8rem;
		font-weight: 400;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
	&__foter {
		display: flex;
		align-items: center;
	}

	.change-amount {
		margin-right: auto;
	}
	
	&__footer-link {
		margin-left: 4rem;

		color: $color-secondary;
		font-size: 1.6rem;
		font-weight: 400;

		cursor: pointer;
		transition: all .3s;

		&:hover {
			color: $color-main;
			text-decoration: underline;
		}
	}
}


/* FORM */ 

.default-form {
	display: flex;
	flex-direction: column;

	&__item-group {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		display: flex;
		flex-direction: column;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}

		label {
			margin-bottom: 1rem;

			color: $color-main;
			font-size: 1.6rem;
			font-weight: 600;
		}

		input {
			width: 100%;

			border-radius: 0;
			border: 1px solid $color-secondary;
			height: 3rem;
			padding: 0 1rem 0;

			color: $color-main;
			font-size: 1.6rem;
			font-weight: 400;

			&:active, &:focus {
				outline: none;
				border-color: $color-main;
			}

			&::placeholder {
				color: $color-secondary;
				font-size: 1.6rem;
				font-weight: 400;
			}
		}

		select {
			width: 100%;

			border-radius: 0;
			border: 1px solid $color-secondary;
			height: 3rem;
			padding: 0 2rem 0 1rem;
			background: transparent;

			color: $color-main;
			font-size: 1.6rem;
			font-weight: 400;

			box-shadow: none;

			&:active {
				outline: none;
			}

			cursor: pointer;
		}

		option {
			color: $color-main;
			font-size: 1.6rem;
			font-weight: 400;

			
		}
	}

	&__password {
		position: relative;
		margin-bottom: 1rem;

		img {
			position: absolute;
			right: 1rem;
			top: calc(50% - 5px);
			cursor: pointer;
		}
	}
	&__forgot-password {
		color: $color-secondary;
		text-align: right;
		font-size: 1.6rem;
		font-weight: 400;

		cursor: pointer;
		transition: all .3s;

		&:hover {
			color: $color-main;
			text-decoration: underline;
		}
	}
	&__footer {
		margin-top: 2rem;
		padding-top: 2rem;
		border-top: 1px solid $color-secondary;

		.button-dark {
			margin: 0 auto;
			margin-top: 5rem;
		}
	}
	&__socials {
		display: flex;
		align-items: center;

		span {
			color: $color-main;
			font-size: 1.6rem;
			font-weight: 400;
			margin-right: auto;
		}

		a:not(:last-child) {
			margin-right: 3rem;
		}
	}
}