.burger-menu {
	display: flex;
	display: none;  // *************************** Disabled //
	flex-direction: column;

	&__item {

		&:not(:first-child), .dropdown-menu__title {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 3rem 0;
		}
		
		border-bottom: 1px solid $color-secondary;

		color: $color-main;
		font-size: 2.2rem;
		font-weight: 600;
		line-height: 1.366;
		text-transform: uppercase;
		text-decoration: none;
	}
}

/* Dropdown menu secondary */ 

.dropdown-menu {
	padding-bottom: 3rem;
	display: none;  // *************************** Disabled //

	&__title {
		cursor: pointer;

		img {
			margin-top: -2px;
			margin-left: 1.5rem;
		}
	}

	&__body {
		display: flex;
		justify-content: space-between;
		column-gap: 4rem;
		width: 112rem;
		margin: 0 auto
	}
	&__column {
		display: flex;
		flex-direction: column;
	}
	&__column-title {
		margin-bottom: 3rem;
	
		color: $color-main;
		text-align: center;
		font-size: 1.8rem;
		font-weight: 600;
		line-height: 1.36;
		text-transform: uppercase;
	}
	&__column-item {
		color: $color-main;
		font-size: 1.8rem;
		font-weight: 400;
		line-height: 1.366;
		text-decoration: none;
		text-transform: none;

		transition: all .3s;

		&:hover {
			text-decoration: underline;
		}

		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
}

