.login {
	background-color: rgba($color: #000000, $alpha: 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: 5;

	display: flex;
	justify-content: center;

	padding: 5rem 0;
	height: 100vh;
	overflow: auto;

	.container {
		position: relative;
		width: 55rem;
		background: #fff;
		padding: 7rem 0 6.5rem;

		display: flex;
		flex-direction: column;

		max-width: unset;
		height: max-content;
	}
	&__main {
		width: 58.18%;
		margin: 0 auto;
	}
	&__close {
		position: absolute;
		top: 4rem;
		right: 4rem;
		cursor: pointer;
	}
	&__title {
		max-width: 25.8rem;
		margin: 0 auto;
		margin-bottom: 5rem;
		
		text-align: center;
		color: $color-main;
		font-size: 4rem;
		font-weight: 600;
		line-height: 1.22;
		text-transform: uppercase;
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		padding: 0 3.5rem 2rem;
		border-bottom: 1px solid $color-secondary;
	}
	&__header-item {
		color: $color-secondary;
		font-size: 1.8rem;
		font-weight: 400;
		text-transform: uppercase;

		cursor: pointer;

		&.active {
			color: $color-main;
		}
	}
	&__body {
		padding-top: 2rem;
		display: flex;
		flex-direction: column;
	}
	&__form {
	}
}

.login-form {

	&__item {
		display: flex;
		flex-direction: column;
	
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	
		label {
			margin-bottom: 1rem;
	
			color: $color-main;
			font-size: 1.6rem;
			font-weight: 600;
		}
	
		input {
			border: 1px solid $color-secondary;
			border-radius: 0;
			padding: 0.7rem 1rem;
			height: 3rem;
			width: 100%;
	
			color: $color-main;
			font-size: 1.6rem;
			font-weight: 400;
	
			&:active, &:focus {
				outline: none;
				border-color: $color-main;
			}
	
			&::placeholder {
				color: $color-secondary;
				font-size: 1.6rem;
				font-weight: 400;
			}
		}
	}
	&__item_login {
	}
	&__password {
		position: relative;
		margin-bottom: 1rem;

		img {
			position: absolute;
			right: 1rem;
			top: calc(50% - 5px);
			cursor: pointer;
		}
	}
	&__forgot-password {
		color: $color-secondary;
		text-align: right;
		font-size: 1.6rem;
		font-weight: 400;

		cursor: pointer;
		transition: all .3s;

		&:hover {
			color: $color-main;
			text-decoration: underline;
		}
	}
	&__footer {
		margin-top: 2rem;
		padding-top: 2rem;
		border-top: 1px solid $color-secondary;

		.button-dark {
			margin: 0 auto;
			margin-top: 5rem;
		}
	}
	&__socials {
		display: flex;
		align-items: center;

		span {
			color: $color-main;
			font-size: 1.6rem;
			font-weight: 400;
			margin-right: auto;
		}

		a:not(:last-child) {
			margin-right: 3rem;
		}
	}

	 
}
