.cart-popup {
	background-color: rgba($color: #000000, $alpha: 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: 5;

	display: flex;
	align-items: center;
	justify-content: center;
	

	.container {
		width: 80rem;
		background: #fff;
		padding: 0;
		padding-top: 4rem;
		margin: 0;
		height: 90vh;

		display: flex;
		flex-direction: column;

		max-width: unset;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		margin-bottom: 4rem;
		padding: 0 10rem;
	}
	&__title {
		color: $color-main;
		font-size: 4rem;
		font-weight: 400;
		text-decoration-line: underline;
		text-transform: uppercase;
	}
	&__title-amount {
	}
	&__close {
		cursor: pointer;
	}
	&__body {
		padding: 0 10rem;
		overflow: hidden;
		flex-grow: 1;
	}
	.horizontal-card {
		height: 20rem;

		&__image {
			width: 34.48%;
		}
		&__body {
		}
		&__header {
		}
		&__title {
		}
		&__price {
		}
		&__description {
		}
		&__description-item {
		}
		&__foter {
		}
		.change-amount {
		}
		.change-amount__less {
		}
		.change-amount__counter {
		}
		.change-amount__more {
		}
		&__footer-link {

			&:last-child {
				margin-left: 2rem;
			}
		}
	}
	
	&__footer {
		border-top: 1px solid $color-main;
		padding: 2rem 10rem 5rem;
	}
	&__footer-info {
		display: flex;
		align-items: center;
		justify-content: space-between;

		margin-bottom: 4rem;
	}
	&__footer-text {
		color: $color-main;
		font-size: 4rem;
		font-weight: 100;
	}
	&__footer-amount,&__footer-price {
		color: $color-main;
		font-size: 2.5rem;
		font-weight: 600;
	}
	&__footer-price {
	}
	&__footer-btns {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.button-dark {
	}
	.button-white {
	}
}

.cart-popup_empty {

	.cart-popup__body {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.cart-popup__message-empty {
		color: $color-main;
		font-size: 4rem;
		font-weight: 600;
	}

	.cart-popup__footer {
		border-top: 0;
		padding-top: 0;
		display: flex;
		justify-content: center;
	}
	
}
