* {
  box-sizing: border-box;
}

/* REM SETTINGS */
html {
  font-size: 62.5% !important;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25% !important;
  }
}
@media only screen and (max-width: 64em) {
  html {
    font-size: 48% !important;
  }
}

/* FONTS */
body {
  font-family: "Raleway", sans-serif;
}

/* COLORS */
/* BOUNDING CONTAINER */
.container {
  max-width: 130rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* ARROW DOWN */
.arrow-down {
  margin-left: 1rem;
}

/* BUTTONS */
.button-white {
  display: block;
  padding: 1.6rem 3rem;
  border-radius: 8px;
  border: 1px solid #171819;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: -moz-max-content;
  width: max-content;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.118;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}
.button-white:hover {
  color: #fff;
  background: #171819;
}

.button-white.heart {
  padding: 0;
  width: 8.5rem;
  height: 5.4rem;
  background-image: url(/assets/images/icons/ic_heart.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.button-white.heart:hover {
  background: #FFF;
  background-image: url(/assets/images/icons/heart-fill.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.button-white.disabled {
  background: #BDBDBD;
  color: transparent;
  cursor: default;
}

.button-dark {
  display: block;
  padding: 1.6rem 3rem;
  border-radius: 8px;
  border: 1px solid #171819;
  background: #171819;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: -moz-max-content;
  width: max-content;
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.118;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s;
  cursor: pointer;
}
.button-dark:hover {
  color: #171819;
  background: #FFF;
}

/* CARDS */
.default-cards {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.default-cards__next {
  z-index: 5;
  position: absolute;
  top: calc(50% - 15px);
  right: 1rem;
  display: none;
  cursor: pointer;
}
.default-cards__next.active {
  display: block;
}
.default-cards__previous {
  z-index: 5;
  position: absolute;
  top: calc(50% - 15px);
  left: 1rem;
  display: none;
  cursor: pointer;
}
.default-cards__previous.active {
  display: block;
}
.default-cards__footer {
  padding: 10rem 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.default-cards__load-more {
  margin-bottom: 5rem;
}
.default-cards__pagination {
  display: flex;
  align-items: flex-end;
}
.default-cards__pagination-item {
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  border: 1px solid #171819;
  color: #171819;
  font-size: 2.1rem;
  font-weight: 400;
  transition: all 0.15s;
  cursor: pointer;
}
.default-cards__pagination-item:not(:last-child) {
  margin-right: 2rem;
}
.default-cards__pagination-item.active, .default-cards__pagination-item:hover {
  color: #fff;
  background: #171819;
}

.default-card {
  max-width: 24.2%;
  position: relative;
}
.default-card:not(:last-child) {
  margin-right: 15px;
}
.default-card__sale-badge {
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.18;
  text-transform: uppercase;
  padding: 0.7rem 1.7rem;
  border-radius: 50px;
  border: 1px solid #171819;
  background: #FFF;
}
.default-card__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.default-card__info {
  border: 1px solid #171819;
  padding: 2rem;
  margin-top: -3px;
  display: flex;
  flex-direction: column;
}
.default-card__title {
  margin-bottom: 1rem;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.18;
  text-transform: capitalize;
}
.default-card__price {
  color: #171819;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.18;
  text-transform: capitalize;
}

.default-info-card {
  display: flex;
  flex-direction: column;
}
.default-info-card__title {
  margin: 0;
  margin-bottom: 4rem;
  color: #171819;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.55;
}
.default-info-card__description {
  max-width: 26rem;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.18;
}
.default-info-card .button-white {
  margin-top: auto;
}

/* BREADCRUMBS */
.breadcrumbs__links {
  display: flex;
  align-items: center;
}
.breadcrumbs__link {
  color: #BDBDBD;
  font-size: 18px;
  font-weight: 400;
  line-height: 0.89; /* 89.444% */
  text-decoration: none;
  transition: all 0.3s;
}
.breadcrumbs__link:not(:last-child) {
  margin-right: 4rem;
  position: relative;
}
.breadcrumbs__link:not(:last-child):hover {
  color: #171819;
  text-decoration: underline;
}
.breadcrumbs__link:not(:last-child)::after {
  content: "";
  position: absolute;
  top: calc(50% - 0.375rem);
  right: -2rem;
  width: 0.4rem;
  height: 0.75rem;
  background-image: url(/assets/images/icons/arrow_right.svg);
  background-position: center;
  background-size: cover;
}
.breadcrumbs__link.active {
  color: #171819;
  text-decoration: underline;
  cursor: default;
}

/* INPUT CHECKBOX */
input[type=checkbox] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  -moz-appearance: none;
       appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;
  color: #171819;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #171819;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type=checkbox]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 0.05s transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type=checkbox]:checked::before {
  transform: scale(1);
}

input[type=checkbox]:disabled {
  --form-control-color: var(--form-control-disabled);
  color: var(--form-control-disabled);
  cursor: not-allowed;
}

/* CHANGE AMOUNT */
.change-amount {
  display: flex;
  align-items: center;
}

.change-amount__less, .change-amount__more {
  position: relative;
  margin: 0;
  width: 40px;
  height: 30px;
  font-weight: 400;
  border: 1px solid #171819;
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
}
.change-amount__less:hover, .change-amount__more:hover {
  color: #fff;
  background: #171819;
}

.change-amount__less::after {
  position: absolute;
  content: "-";
  height: 1px;
  font-size: 38px;
  top: -35%;
  left: 32%;
}

.change-amount__more::after {
  position: absolute;
  content: "+";
  height: 1px;
  font-size: 38px;
  top: -26%;
  left: 31%;
}

.change-amount__counter {
  margin: 0 1rem;
  color: #171819;
  font-size: 2.1rem;
  font-weight: 400;
}

/* HORIZONTAL CARD */
.horizontal-card {
  display: flex;
  border: 1px solid #171819;
}
.horizontal-card:not(:last-child) {
  margin-bottom: 2rem;
}
.horizontal-card__image {
  width: 23rem;
  height: 23rem;
}
@media (max-width: 1024px) {
  .horizontal-card__image {
    width: 21rem;
    height: 21rem;
  }
}
.horizontal-card__body {
  width: 100%;
  padding: 2rem;
}
.horizontal-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.horizontal-card__title, .horizontal-card__price {
  color: #171819;
  font-size: 2.5rem;
  font-weight: 600;
}
.horizontal-card__description {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.horizontal-card__description-item {
  color: #BDBDBD;
  font-size: 1.8rem;
  font-weight: 400;
}
.horizontal-card__description-item:not(:last-child) {
  margin-bottom: 1rem;
}
@media (max-width: 1024px) {
  .horizontal-card__description-item:last-child {
    display: none;
  }
}
.horizontal-card__foter {
  display: flex;
  align-items: center;
}
.horizontal-card .change-amount {
  margin-right: auto;
}
.horizontal-card__footer-link {
  margin-left: 4rem;
  color: #BDBDBD;
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}
.horizontal-card__footer-link:hover {
  color: #171819;
  text-decoration: underline;
}

/* FORM */
.default-form {
  display: flex;
  flex-direction: column;
}
.default-form__item-group {
  display: flex;
  justify-content: space-between;
}
.default-form__title {
  margin: 0 0 3.5rem;
  padding-top: 1rem;
  border-top: 1px solid #171819;
  color: #171819;
  font-size: 2.2rem;
  font-weight: 600;
}
.default-form__title:not(:first-child) {
  margin: 3rem 0 3.5rem;
}
.default-form__item {
  display: flex;
  flex-direction: column;
}
.default-form__item.comment textarea {
  resize: none;
  border-radius: 0;
  border: 1px solid #BDBDBD;
  padding: 1rem;
  color: #171819;
  font-size: 1.6rem;
  font-weight: 400;
}
.default-form__item.comment textarea:active, .default-form__item.comment textarea:focus {
  outline: none;
  border-color: #171819;
}
.default-form__item:not(:last-child) {
  margin-bottom: 2rem;
}
.default-form__item label {
  margin-bottom: 1rem;
  color: #171819;
  font-size: 1.6rem;
  font-weight: 600;
}
.default-form__item input {
  width: 100%;
  border-radius: 0;
  border: 1px solid #BDBDBD;
  height: 3rem;
  padding: 0 1rem 0;
  color: #171819;
  font-size: 1.6rem;
  font-weight: 400;
}
.default-form__item input:active, .default-form__item input:focus {
  outline: none;
  border-color: #171819;
}
.default-form__item input::-moz-placeholder {
  color: #BDBDBD;
  font-size: 1.6rem;
  font-weight: 400;
}
.default-form__item input::placeholder {
  color: #BDBDBD;
  font-size: 1.6rem;
  font-weight: 400;
}
.default-form__item select {
  width: 100%;
  border-radius: 0;
  border: 1px solid #BDBDBD;
  height: 3rem;
  padding: 0 2rem 0 1rem;
  background: transparent;
  color: #171819;
  font-size: 1.6rem;
  font-weight: 400;
  box-shadow: none;
  cursor: pointer;
}
.default-form__item select:active {
  outline: none;
}
.default-form__item option {
  color: #171819;
  font-size: 1.6rem;
  font-weight: 400;
}
.default-form__radio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.default-form__radio-group {
  display: flex;
  align-items: center;
}
.default-form__radio-group label {
  margin: 0;
  cursor: pointer;
}
.default-form__radio-group input {
  width: -moz-max-content;
  width: max-content;
  margin-right: 1rem;
}
.default-form__password {
  position: relative;
  margin-bottom: 1rem;
}
.default-form__password img {
  position: absolute;
  right: 1rem;
  top: calc(50% - 5px);
  cursor: pointer;
}
.default-form__forgot-password {
  color: #BDBDBD;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}
.default-form__forgot-password:hover {
  color: #171819;
  text-decoration: underline;
}
.default-form__footer {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid #BDBDBD;
}
.default-form__footer .button-dark {
  margin: 0 auto;
  margin-top: 5rem;
}
.default-form__socials {
  display: flex;
  align-items: center;
}
.default-form__socials span {
  color: #171819;
  font-size: 1.6rem;
  font-weight: 400;
  margin-right: auto;
}
.default-form__socials a:not(:last-child) {
  margin-right: 3rem;
}

/* HEADER BANNER */
.header-banner {
  padding: 1.7rem 0;
  background: linear-gradient(180deg, #0085FF 0%, #FFE500 100%);
}
.header-banner__title {
  padding: 0;
  margin: 0;
  color: #171819;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.118;
}

/* HEADER */
.header {
  border-bottom: 1px solid #171819;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;
}
.header__group {
  display: flex;
  align-items: center;
}
.header__group_left {
  justify-content: space-between;
  width: 55%;
}
.header__icon {
  cursor: pointer;
}
.header__icon:not(:first-child) {
  margin-left: 4rem;
}
.header__logo {
  margin-left: 10rem;
}
.header__cart {
  position: relative;
  margin-left: 4rem;
}
.header__cart-amount {
  position: absolute;
  top: -4px;
  right: -10px;
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  background: #171819;
  border-radius: 10px;
}

/* HERO */
.home-hero .dropdown-menu__body {
  display: none;
  padding-top: 3.7rem;
  padding-bottom: 10rem;
}

/* NAVIGATION */
.nav {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}
.nav__item {
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.118;
  text-transform: uppercase;
  text-decoration: none;
}
.nav__item:not(:first-child) {
  margin-left: 9rem;
}
.nav__dropdown-item {
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* SEARCH */
.header__search {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
  margin-left: 4rem;
  width: 30%;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: all 0.2s;
}
.header__search.error input::-moz-placeholder {
  color: red;
}
.header__search.error input::placeholder {
  color: red;
}
.header__search:hover, .header__search.active {
  border-color: #BDBDBD;
}
.header__search:hover > input::-moz-placeholder {
  color: #BDBDBD;
}
.header__search:hover > input::placeholder {
  color: #BDBDBD;
}
.header__search input {
  border: 0;
  width: 100%;
  max-width: 45rem;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
}
.header__search input::-moz-placeholder {
  color: transparent;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.header__search input::placeholder {
  color: transparent;
  transition: all 0.2s;
}
.header__search input:active, .header__search input:focus {
  outline: none;
}
.header__search img {
  margin-right: 2rem;
}

/* SEARCH RESULTS */
.search-results {
  display: none;
}
.search-results .container {
  max-width: 138rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #171819;
}
.search-results__card {
  display: flex;
}
.search-results__card:not(:last-child) {
  margin-bottom: 2rem;
}
.search-results__card-img {
  width: 20rem;
  height: 20rem;
  margin-right: 2rem;
}
.search-results__card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0 3rem;
}
.search-results__card-title, .search-results__card-price {
  color: #171819;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.18;
  text-transform: capitalize;
}

/* SLIDER */
.slider {
  position: relative;
}
.slider__card {
  background-image: url("/assets/images/slider-card-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 5rem 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40rem;
}
.slider__subtitle {
  width: 100%;
  color: #FFF;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.366;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.slider__title {
  flex-grow: 1;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1, 86;
  text-transform: uppercase;
}
.slider__previous {
  position: absolute;
  left: 1rem;
  top: calc(50% - 15px);
  cursor: pointer;
}
.slider__next {
  position: absolute;
  right: 1rem;
  top: calc(50% - 15px);
  cursor: pointer;
}

/* CATEGORIES */
.home-categories {
  margin-top: 12rem;
}
.home-categories__title {
  margin: 0;
  color: #171819;
  font-size: 4rem;
  font-weight: 100;
}
.home-categories__header {
  margin-top: 8.5rem;
  margin-bottom: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-categories__header-category {
  color: #BDBDBD;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.36;
  cursor: pointer;
  transition: all 0.3s;
}
.home-categories__header-category.active {
  color: #171819;
  padding: 1.6rem 3rem;
  border: 1px solid #171819;
  border-radius: 8px;
  margin: 0 -3rem;
}
.home-categories__header-category:hover {
  color: #171819;
}

/* TOP SALES */
.home-top-sales {
  margin-top: 12rem;
}
.home-top-sales__header {
  margin-bottom: 8.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-top-sales__title {
  margin: 0;
  color: #171819;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.home-top-sales__progress {
  margin-top: 4rem;
  width: 100%;
  height: 3px;
  background: #BDBDBD;
}
/* DISCOUNTS */
.home-discounts {
  margin-top: 12rem;
}
.home-discounts__header {
  margin-bottom: 8.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-discounts__title {
  margin: 0;
  color: #171819;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.home-discounts__cards {
  display: flex;
  justify-content: space-between;
}
.home-discounts .default-card {
  max-width: 100%;
  margin-right: 0;
}
.home-discounts__column-thin {
  width: 24.18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-discounts__column-wide {
  width: 45.16%;
}

/* NEW ITEMS */
.home-new-items {
  margin-top: 12rem;
}
.home-new-items__header {
  margin-bottom: 8.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-new-items__title {
  margin: 0;
  color: #171819;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.home-new-items__progress {
  margin-top: 4rem;
  width: 100%;
  height: 3px;
  background: #BDBDBD;
}

/* ABOUT US */
.home-about {
  margin-top: 12rem;
}
.home-about__header {
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-about__title {
  margin: 0;
  color: #171819;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.home-about__top {
  display: flex;
  justify-content: space-between;
}
.home-about__image {
  width: 66.7%;
}
.home-about__top-text {
  width: 30.75%;
  padding-right: 1.8rem;
}
.home-about__text-title {
  margin: 0;
  margin-bottom: 4rem;
  color: #171819;
  font-size: 25px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.home-about__text-description {
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.18;
}
.home-about__facts {
  display: flex;
  flex-wrap: wrap;
}
.home-about__fact {
  width: 33.33333%;
  padding: 4rem 0 2rem 2rem;
  border: 1px solid #171819;
}
.home-about__fact-title {
  margin: 0;
  margin-bottom: 1.5rem;
  color: #171819;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.36;
  text-transform: uppercase;
}
.home-about__fact-description {
  margin: 0;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.18;
}

/* SEO TEXT */
.home-seo-text {
  margin-top: 12rem;
  margin-bottom: 14.5rem;
}
.home-seo-text__title {
  margin-bottom: 5rem;
  color: #171819;
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
}
.home-seo-text__description {
  margin-bottom: 5rem;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.18;
}
.home-seo-text__link {
  display: flex;
  align-items: center;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.18;
  text-decoration: none;
}
.home-seo-text__link img {
  margin-left: 1rem;
  width: 8px;
}

.footer {
  background: #DCDCDC;
  padding: 5rem 0;
}
.footer__body {
  display: flex;
  justify-content: space-between;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  margin-bottom: 3rem;
  width: 11.1rem;
}
.footer__contacts-item {
  margin-bottom: 1rem;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.18;
}
.footer__contacts-socials {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__contacts-social {
  width: 3rem;
  cursor: pointer;
}
.footer__contacts-social:not(:last-child) {
  margin-right: 5rem;
}
.footer__catalog {
  display: flex;
  flex-direction: column;
}
.footer__catalog-title {
  margin-bottom: 3rem;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.18;
}
.footer__catalog-items {
  margin-right: 15rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  max-height: 25rem;
}
.footer__catalog-item {
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.18;
  text-decoration: none;
  transition: all 0.3s;
}
.footer__catalog-item:not(:last-child) {
  margin-bottom: 2rem;
}
.footer__catalog-item:hover {
  text-decoration: underline;
}
.footer__links {
  display: flex;
  flex-direction: column;
}
.footer__link {
  color: #171819;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.18;
  text-decoration: none;
  transition: all 0.3s;
}
.footer__link:not(:last-child) {
  margin-bottom: 2rem;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__payment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__payment-title {
  margin-bottom: 2rem;
  width: -moz-max-content;
  width: max-content;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.18;
}
.footer__payment-icons {
  max-width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.footer__payment-icon {
  margin-bottom: 2rem;
}
.footer__payment-icon:not(:first-child) {
  margin-left: 3rem;
}

.burger-menu {
  display: flex;
  display: none;
  flex-direction: column;
}
.burger-menu__item {
  border-bottom: 1px solid #BDBDBD;
  color: #171819;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.366;
  text-transform: uppercase;
  text-decoration: none;
}
.burger-menu__item:not(:first-child), .burger-menu__item .dropdown-menu__title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

/* Dropdown menu secondary */
.dropdown-menu {
  padding-bottom: 3rem;
  display: none;
}
.dropdown-menu__title {
  cursor: pointer;
}
.dropdown-menu__title img {
  margin-top: -2px;
  margin-left: 1.5rem;
}
.dropdown-menu__body {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  width: 112rem;
  margin: 0 auto;
}
.dropdown-menu__column {
  display: flex;
  flex-direction: column;
}
.dropdown-menu__column-title {
  margin-bottom: 3rem;
  color: #171819;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.36;
  text-transform: uppercase;
}
.dropdown-menu__column-item {
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.366;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s;
}
.dropdown-menu__column-item:hover {
  text-decoration: underline;
}
.dropdown-menu__column-item:not(:last-child) {
  margin-bottom: 2rem;
}

.catalog-body {
  padding: 10rem 0 12rem;
}
.catalog-body__title {
  margin-bottom: 4rem;
  text-align: center;
  color: #171819;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.catalog-body .filter__buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3.5rem;
}
.catalog-body .filter__labels {
  display: flex;
  align-items: center;
  padding: 0.8rem 0;
  border-bottom: 1px solid #BDBDBD;
  border-top: 1px solid #BDBDBD;
}
.catalog-body .filter__label {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.4rem;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  border-radius: 30px;
  border: 1px solid #171819;
}
.catalog-body .filter__label img {
  margin-left: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}
.catalog-body .filter__label:not(:last-child) {
  margin-right: 2rem;
}
.catalog-body .filter__item {
  position: relative;
}
.catalog-body .filter__item-header {
  padding: 1.6rem 4rem;
  border-radius: 8px;
  border: 1px solid #171819;
  display: flex;
  align-items: center;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  cursor: pointer;
}
.catalog-body .filter__item-header img {
  margin-left: 1rem;
}
.catalog-body .filter__item-body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #171819;
  background: #fff;
}
.catalog-body .filter__item-body label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalog-body .filter__item-body label:not(:last-child) {
  margin-bottom: 1rem;
}
.catalog-body .filter__item-body div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalog-body .filter__item-body div:not(:last-child) {
  margin-bottom: 1rem;
}
.catalog-body .filter .filter-color-body {
  display: none;
}
.catalog-body .filter .filter-material-body {
  display: none;
}
.catalog-body .filter .filter-price-body {
  display: none;
  width: 32.5rem;
  left: -9rem;
  padding: 2rem 2rem 1.5rem;
}
.catalog-body .filter .filter-sort-body {
  display: none;
}
.catalog-body .filter .filter-sort-body .filter__item-title.active {
  font-weight: 600;
}
.catalog-body .filter .filter-sort-body .filter__item-title:hover {
  text-decoration: underline;
}
.catalog-body .filter .filter-sort-body .filter__item-title:not(:last-child) {
  margin-bottom: 1rem;
}
.catalog-body .filter__item-scale {
  height: 1px;
  width: 100%;
  background: #BDBDBD;
  margin-bottom: 1rem;
}
.catalog-body .filter__price {
  color: #171819;
  font-size: 1.6rem;
  font-weight: 400;
}
.catalog-body .filter__item-title {
  color: #171819;
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
}
.catalog-body__found {
  margin: 3.5rem 0 4rem;
  color: #BDBDBD;
  font-size: 1.8rem;
  font-weight: 400;
}
.catalog-body__cards {
  flex-wrap: wrap;
  row-gap: 2rem;
}
.catalog-body__cards .default-card {
  width: 32%;
  max-width: unset;
  margin: 0;
}
.product {
  padding-bottom: 14rem;
}
.product__main {
  display: grid;
  display: flex;
  justify-content: space-between;
  height: 52rem;
}
.product__miniatures {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 10.06%;
}
.product__miniature {
  min-width: 10rem;
  min-height: 10rem;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #171819;
  filter: contrast(0.35);
  transition: all 0.3s;
  cursor: pointer;
}
.product__miniature:hover {
  filter: none;
}
.product__miniature:not(:last-child) {
  margin-bottom: 2rem;
}
.product__miniature.active {
  filter: none;
}
.product__image {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #171819;
  width: 41.93%;
}
.product__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__description {
  margin: 12rem 0 10rem;
}
.product__description-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid #BDBDBD;
}
.product__description-title {
  color: #171819;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}
.product__description-title:not(:last-child) {
  margin-right: 6rem;
}
.product__description-title.active::after {
  content: "";
  position: absolute;
  top: calc(100% + 2rem);
  left: 0;
  width: 100%;
  height: 1px;
  background: #171819;
}
.product__description-body {
  margin-top: 4rem;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
}
.product__cards-header {
  margin-bottom: 8.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__cards-title {
  margin: 0;
  color: #171819;
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  border-radius: 8px;
  border: 1px solid #171819;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 41.93%;
}
.product-card__header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 3rem;
}
.product-card__title {
  color: #171819;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
}
.product-card__price {
  margin-left: auto;
  color: #171819;
  font-size: 3rem;
  font-weight: 600;
}
.product-card__number {
  width: 100%;
  margin-top: 1rem;
  color: #BDBDBD;
  font-size: 1.6rem;
  font-weight: 400;
}
.product-card__color {
  color: #171819;
  font-size: 1.8rem;
  font-weight: 600;
}
.product-card__color div {
  margin-top: 1rem;
  display: flex;
}
.product-card__color-item {
  width: 1.6rem;
  height: 1.6rem;
  border: 2px solid transparent;
}
.product-card__color-item:not(:last-child) {
  margin-right: 1rem;
}
.product-card__color-item.active {
  border-color: #171819;
}
@media (max-width: 1024px) {
  .product-card__color-item {
    width: 2.6rem;
    height: 2.6rem;
  }
}
.product-card__size {
  margin: 2rem 0 4rem;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 600;
}
.product-card__size div {
  display: flex;
  align-self: center;
  margin: 1rem 0;
}
.product-card__size div .product-card__size-item {
  color: #171819;
  font-size: 2.1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 3rem;
  border-radius: 8px;
  border: 1px solid #171819;
  transition: all 0.3s;
  cursor: pointer;
}
.product-card__size div .product-card__size-item.active, .product-card__size div .product-card__size-item:hover {
  color: #fff;
  background: #171819;
}
.product-card__size div .product-card__size-item:not(:last-child) {
  margin-right: 1rem;
}
.product-card__size span {
  color: #BDBDBD;
  font-size: 1.6rem;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .product-card__size {
    margin-bottom: 2rem;
  }
}
.product-card__amount {
  margin-bottom: 4rem;
  margin-top: auto;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 600;
}
.product-card__amount div {
  margin-top: 1rem;
}
@media (max-width: 1024px) {
  .product-card__amount {
    margin-bottom: 3rem;
  }
}
.product-card__footer {
  display: flex;
  align-items: center;
}
.product-card .button-dark {
  margin-right: 3rem;
}
.cart {
  padding-bottom: 14rem;
}
.cart__title {
  width: 100%;
  margin-bottom: 10rem;
  text-align: center;
  color: #171819;
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
}
.cart__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart__left {
  width: 68.54%;
}
.cart__right {
  width: 28.22%;
  padding: 4rem 2rem 2rem;
  border: 1px solid #171819;
}
.cart__promocode {
  display: flex;
  flex-direction: column;
}
.cart__promocode-title {
  margin-bottom: 2rem;
  color: #171819;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: capitalize;
}
.cart__promocode-input-group {
  display: flex;
}
.cart__promocode-input {
  width: 100%;
  padding: 0.8rem 3.4rem 0.8rem 1.4rem;
  margin-bottom: 1rem;
  border: 1px solid #BDBDBD;
  color: #171819;
  font-size: 1.6rem;
  font-weight: 400;
}
.cart__promocode-input:active, .cart__promocode-input:focus {
  outline: 1px solid #171819;
}
.cart__promocode-input::-moz-placeholder {
  color: #BDBDBD;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: capitalize;
}
.cart__promocode-input::placeholder {
  color: #BDBDBD;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: capitalize;
}
.cart__promocode-send {
  margin-left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 3.64rem;
  border: 1px solid #BDBDBD;
  cursor: pointer;
}
.cart__promocode-success {
  margin-bottom: 2rem;
  color: #BDBDBD;
  font-size: 1.6rem;
  font-weight: 400;
}
.cart__discount {
  padding: 2rem 0;
  border-top: 1px solid #171819;
  border-bottom: 1px solid #171819;
}
.cart__discount-item {
  display: flex;
  justify-content: space-between;
  color: #171819;
  font-size: 1.6rem;
  font-weight: 400;
}
.cart__discount-item:not(:last-child) {
  margin-bottom: 1rem;
}
.cart__discount-price {
  font-weight: 600;
}
.cart__sum {
  margin: 2rem 0 4rem;
}
.cart .button-dark {
  display: block;
  margin: 0 auto;
}

.cart-popup {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-popup .container {
  width: 80rem;
  background: #fff;
  padding: 0;
  padding-top: 4rem;
  margin: 0;
  height: 90vh;
  max-height: 70rem;
  display: flex;
  flex-direction: column;
  max-width: unset;
}
.cart-popup__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  padding: 0 10rem;
}
.cart-popup__title {
  color: #171819;
  font-size: 4rem;
  font-weight: 400;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.cart-popup__close {
  cursor: pointer;
}
.cart-popup__body {
  padding: 0 10rem;
  overflow: hidden;
  flex-grow: 1;
}
.cart-popup .horizontal-card {
  height: 20rem;
}
.cart-popup .horizontal-card__image {
  width: 34.48%;
}
.cart-popup .horizontal-card__footer-link:last-child {
  margin-left: 2rem;
}
.cart-popup__footer {
  border-top: 1px solid #171819;
  padding: 2rem 10rem 5rem;
}
.cart-popup__footer-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.cart-popup__footer-text {
  color: #171819;
  font-size: 4rem;
  font-weight: 100;
}
.cart-popup__footer-amount, .cart-popup__footer-price {
  color: #171819;
  font-size: 2.5rem;
  font-weight: 600;
}
.cart-popup__footer-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-popup_empty .cart-popup__body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-popup_empty .cart-popup__message-empty {
  color: #171819;
  font-size: 4rem;
  font-weight: 600;
}
.cart-popup_empty .cart-popup__footer {
  border-top: 0;
  padding-top: 0;
  display: flex;
  justify-content: center;
}

.selected {
  padding: 5rem 0 14rem;
}
.selected__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-left: auto;
  margin-bottom: 10rem;
  width: 57%;
}
.selected__title {
  margin: 0;
  color: #171819;
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
}
.selected__clear-all {
  display: flex;
  align-items: center;
  color: #BDBDBD;
  font-size: 1.8rem;
  font-weight: 400;
}
.selected__clear-all img {
  margin-left: 1rem;
}
.selected__cards {
  display: flex;
}
.selected .default-card {
  max-width: unset;
  width: 32%;
}
.login {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  padding: 5rem 0;
  height: 100vh;
  overflow: auto;
}
.login .container {
  position: relative;
  width: 55rem;
  background: #fff;
  padding: 7rem 0 6.5rem;
  display: flex;
  flex-direction: column;
  max-width: unset;
  height: -moz-max-content;
  height: max-content;
}
.login__main {
  width: 58.18%;
  margin: 0 auto;
}
.login__close {
  position: absolute;
  top: 4rem;
  right: 4rem;
  cursor: pointer;
}
.login__title {
  max-width: 25.8rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  text-align: center;
  color: #171819;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.22;
  text-transform: uppercase;
}
.login__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.5rem 2rem;
  border-bottom: 1px solid #BDBDBD;
}
.login__header-item {
  color: #BDBDBD;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}
.login__header-item.active {
  color: #171819;
}
.login__body {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}
.gratitude {
  padding: 4rem 0 14rem;
}
@media (max-width: 1024px) {
  .gratitude {
    padding: 4rem 0 4rem;
  }
}
.gratitude__image {
  margin: 0 auto;
  width: 84.67%;
  height: 70rem;
  background-image: url(/assets/images/body.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gratitude__text {
  text-align: center;
}
.gratitude__order-number {
  margin-bottom: 4rem;
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 400;
}
.gratitude__title {
  margin-bottom: 4rem;
  color: #FFF;
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
}
.gratitude__subtitle {
  margin-bottom: 5rem;
  color: #FFF;
  font-size: 1.8rem;
  font-weight: 400;
}
.gratitude .button-white {
  margin: 0 auto;
}

.page-404 {
  padding: 5rem;
  overflow: hidden;
}
.page-404 .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-404__text {
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: center;
}
@media (max-width: 1200px) {
  .page-404__text {
    position: relative;
    z-index: 10;
    width: 45%;
  }
}
.page-404__title {
  margin: 0;
  margin-top: -5rem;
  margin-bottom: 5rem;
  color: #171819;
  font-size: 30rem;
  font-weight: 100;
  line-height: 1;
}
@media (max-width: 1200px) {
  .page-404__title {
    font-size: 26rem;
  }
}
.page-404__subtitle {
  margin-bottom: 5rem;
  color: #171819;
  font-size: 4rem;
  font-weight: 100;
}
.page-404 .button-dark {
  margin: 0 auto;
}
.page-404__image {
  width: 60%;
}
@media (max-width: 1200px) {
  .page-404__image {
    width: 80%;
    margin-left: -15rem;
  }
}
.page-404__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile {
  /* ORDERS */
}
.profile .container {
  display: flex;
  align-items: flex-start;
  padding: 3rem 3rem 14rem;
}
.profile__nav {
  padding: 1.25rem 0;
  width: 30%;
  padding-right: 6.5rem;
  margin-right: 7.5rem;
  border-right: 2px solid #BDBDBD;
}
.profile__nav-item {
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  position: relative;
}
.profile__nav-item:not(:last-child) {
  margin-bottom: 4rem;
}
.profile .active {
  font-weight: 600;
}
.profile .active::after {
  content: "";
  position: absolute;
  top: -62.5%;
  left: calc(100% + 6.5rem);
  height: 250%;
  width: 2px;
  background: #171819;
}
.profile .exit {
  margin-top: 7rem;
  color: #BDBDBD;
  display: block;
  text-decoration: none;
}
.profile__form {
  padding: 1.25rem 0 0;
  width: 25.8%;
}
.profile .button-white {
  margin: 0 auto;
  margin-top: 4rem;
}
.profile .profile-orders {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.profile .order-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #BDBDBD;
}
.profile .order-card:not(:last-child) {
  margin-bottom: 1rem;
}
.profile .order-card__header {
  display: flex;
  padding: 2rem;
  position: relative;
}
.profile .order-card__info-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3.6rem;
}
.profile .order-card__info-column.first-col {
  width: 61.77%;
}
.profile .order-card__info-column.second-col {
  width: 24.12%;
}
.profile .order-card__info-text {
  color: #171819;
  font-size: 1.6rem;
  font-weight: 400;
}
.profile .order-card__info-text_grey {
  font-weight: 600;
  color: #BDBDBD;
}
.profile .order-card__info-text_green {
  color: #1F9E43;
}
.profile .order-card__info-text_red {
  color: #D62D2D;
}
.profile .order-card__info-text_black {
  font-weight: 600;
}
.profile .order-card__image-container {
  border-radius: 8px;
  border: 1px solid #171819;
  overflow: hidden;
}
.profile .order-card__image-container.third-col {
  width: 11.3%;
}
.profile .order-card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile .order-card__arrow-down-icon {
  position: absolute;
  top: calc(50% - 2px);
  right: 2rem;
  width: 0.8rem;
  height: 0.4rem;
}
.profile .order-card-body {
  border-top: 1px solid #BDBDBD;
  padding: 2rem 4rem 4rem 2rem;
  display: flex;
  justify-content: space-between;
}
.profile .order-card-body__left {
  display: flex;
  flex-direction: column;
  width: 66.62%;
}
.profile .order-card-body__left-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}
.profile .order-card-body .order-card__info-text.first-col {
  width: 16.97%;
}
.profile .order-card-body .order-card__info-text.second-col {
  width: 43.46%;
}
.profile .order-card-body .order-card__info-text.third-col {
  width: 22.41%;
}
.profile .order-card-body .order-card__info-text.fourth-col {
  width: 11.2%;
}
.profile .order-card-body__product {
  display: flex;
}
.profile .order-card-body__product:not(:last-child) {
  margin-bottom: 2rem;
}
.profile .order-card-body__product-img {
  margin-right: auto;
  border-radius: 8px;
  border: 1px solid #171819;
}
.profile .order-card-body__product-img.first-col {
  width: 16.97%;
}
.profile .order-card-body__footer {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  width: 79.11%;
  margin-left: auto;
  border-top: 1px solid #BDBDBD;
}
.profile .order-card-body__footer-item {
  display: flex;
  justify-content: space-between;
}
.profile .order-card-body__footer-item:not(:last-child) {
  margin-bottom: 1rem;
}
.profile .order-card-body__right {
  width: 19.76%;
  display: flex;
  flex-direction: column;
}
.profile .order-card-body__right div {
  display: flex;
  flex-direction: column;
}
.profile .order-card-body__right span:not(:last-child) {
  margin-bottom: 1rem;
}
.profile .order-card-body__right div:not(:last-child) {
  margin-bottom: 2rem;
}

.checkout {
  padding: 4rem 0 14rem;
}
.checkout .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.checkout__left {
  width: 39.74%;
}
.checkout__title {
  margin-bottom: 4rem;
  color: #171819;
  font-size: 4rem;
  font-weight: 400;
}
.checkout__form {
  width: 90%;
}
.checkout__form .button-dark {
  margin-top: 3rem;
}
.checkout__right {
  width: 52%;
}
.checkout__cards {
  position: relative;
  padding: 0 2rem;
  max-height: 48rem;
  overflow: hidden;
}
.checkout__cards::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 42rem;
  width: 2px;
  background: #BDBDBD;
}
.checkout .horizontal-card__image {
  width: 20rem;
  height: 20rem;
}
.checkout .horizontal-card__description-item:last-child {
  display: block;
}
.checkout__right-info-above {
  border-top: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
  padding: 2.5rem 0 2rem;
  display: flex;
  flex-direction: column;
}
.checkout__right-info-above div {
  display: flex;
  justify-content: space-between;
}
.checkout__right-info-above div:not(:last-child) {
  margin-bottom: 1.4rem;
}
.checkout__right-info-above span {
  color: #BDBDBD;
  font-size: 1.8rem;
  font-weight: 400;
}
.checkout__right-info-below {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.checkout__right-text {
  color: #171819;
  font-size: 4rem;
  font-weight: 100;
}
.checkout__right-text_bold {
  color: #171819;
  font-size: 2.5rem;
  font-weight: 600;
}

.faq {
  padding: 5rem 0 14rem;
}
.faq__title {
  margin-bottom: 10rem;
  text-align: center;
  color: #171819;
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
}
.faq__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.faq__left {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
  width: -moz-max-content;
  width: max-content;
}
.faq__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  padding: 2rem 2rem 2rem 0;
  border-bottom: 1px solid #BDBDBD;
  border-right: 1px solid #BDBDBD;
}
.faq__item img {
  width: 0.8rem;
}
.faq__item.active {
  border-right: none;
}
.faq__item-title {
  margin-right: 17.8rem;
  color: #BDBDBD;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
}
.faq__item.active > .faq__item-title {
  color: #171819;
}
.faq__right {
  display: flex;
  flex-direction: column;
}
.faq__right-title {
  margin-bottom: 4rem;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
}
.faq__right-description {
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
}

.conditions {
  padding: 5rem 0 14rem;
}
.conditions__title {
  margin: 0;
  margin-bottom: 10rem;
  text-align: center;
  color: #171819;
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
}
.conditions__subtitle {
  color: #171819;
  font-size: 2.1rem;
  font-weight: 400;
}
.conditions__main {
  padding: 4rem 4rem 0 4rem;
  display: flex;
  flex-direction: column;
}
.conditions__item {
  display: flex;
  flex-direction: column;
}
.conditions__item:not(:last-child) {
  margin-bottom: 3.3rem;
}
.conditions__item-title {
  margin-bottom: 1.7rem;
  color: #171819;
  font-size: 2.5rem;
  font-weight: 700;
}
.conditions__item-subtitle {
  color: #171819;
  font-size: 2.1rem;
  font-weight: 400;
}