* {
  box-sizing: border-box;
}

/* REM SETTINGS */
html {
  font-size: 62.5% !important;
}

/* FONTS */
body {
  font-family: "Raleway", sans-serif;
}

/* COLORS */
/* BOUNDING CONTAINER */
.container {
  max-width: 130rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin: 0 auto;
}

/* ARROW DOWN */
.arrow-down {
  margin-left: 1rem;
}

/* BUTTONS */
.button-white {
  padding: 1.6rem 3rem;
  border-radius: 8px;
  border: 1px solid #171819;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: -moz-max-content;
  width: max-content;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.118;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s;
}
.button-white:hover {
  color: #fff;
  background: #171819;
}

.button-white.disabled {
  background: #BDBDBD;
  color: transparent;
  cursor: default;
}

/* SMALL CARDS */
.default-cards {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.default-cards__next {
  z-index: 5;
  position: absolute;
  top: calc(50% - 15px);
  right: 1rem;
  display: none;
  cursor: pointer;
}
.default-cards__next.active {
  display: block;
}
.default-cards__previous {
  z-index: 5;
  position: absolute;
  top: calc(50% - 15px);
  left: 1rem;
  display: none;
  cursor: pointer;
}
.default-cards__previous.active {
  display: block;
}

.default-card {
  max-width: 24.2%;
  position: relative;
}
.default-card:not(:last-child) {
  margin-right: 15px;
}
.default-card__sale-badge {
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.18;
  text-transform: uppercase;
  padding: 0.7rem 1.7rem;
  border-radius: 50px;
  border: 1px solid #171819;
  background: #FFF;
}
.default-card__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.default-card__info {
  border: 1px solid #171819;
  padding: 2rem;
  margin-top: -3px;
  display: flex;
  flex-direction: column;
}
.default-card__title {
  margin-bottom: 1rem;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.18;
  text-transform: capitalize;
}
.default-card__price {
  color: #171819;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.18;
  text-transform: capitalize;
}

.default-info-card {
  display: flex;
  flex-direction: column;
}
.default-info-card__title {
  margin: 0;
  margin-bottom: 4rem;
  color: #171819;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.55;
}
.default-info-card__description {
  max-width: 26rem;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.18;
}
.default-info-card .button-white {
  margin-top: auto;
}

/* HEADER BANNER */
.header-banner {
  padding: 1.7rem 0;
  background: linear-gradient(180deg, #0085FF 0%, #FFE500 100%);
}
.header-banner__title {
  padding: 0;
  margin: 0;
  color: #171819;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.118;
}

/* HEADER */
.header {
  border-bottom: 1px solid #171819;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;
}
.header__group {
  display: flex;
  align-items: center;
}
.header__icon {
  cursor: pointer;
}
.header__icon:not(:first-child) {
  margin-left: 4rem;
}
.header__cart {
  position: relative;
  margin-left: 4rem;
}
.header__cart-amount {
  position: absolute;
  top: -4px;
  right: -10px;
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  background: #171819;
  border-radius: 10px;
}

/* NAVIGATION */
.nav {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}
.nav__item {
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.118;
  text-transform: uppercase;
  text-decoration: none;
}
.nav__item:not(:first-child) {
  margin-left: 9rem;
}
.nav__dropdown-item {
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* SLIDER */
.slider {
  position: relative;
}
.slider__card {
  background-image: url("/assets/images/slider-card-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 5rem 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40rem;
}
.slider__subtitle {
  width: 100%;
  color: #FFF;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.366;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.slider__title {
  flex-grow: 1;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1, 86;
  text-transform: uppercase;
}
.slider__previous {
  position: absolute;
  left: 1rem;
  top: calc(50% - 15px);
  cursor: pointer;
}
.slider__next {
  position: absolute;
  right: 1rem;
  top: calc(50% - 15px);
  cursor: pointer;
}

/* CATEGORIES */
.home-categories {
  margin-top: 12rem;
}
.home-categories__title {
  margin: 0;
  color: #171819;
  font-size: 4rem;
  font-weight: 100;
}
.home-categories__header {
  margin-top: 8.5rem;
  margin-bottom: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-categories__header-category {
  color: #BDBDBD;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.36;
  cursor: pointer;
  transition: all 0.3s;
}
.home-categories__header-category.active {
  color: #171819;
  padding: 1.6rem 3rem;
  border: 1px solid #171819;
  border-radius: 8px;
  margin: 0 -3rem;
}
.home-categories__header-category:hover {
  color: #171819;
}

/* TOP SALES */
.home-top-sales {
  margin-top: 12rem;
}
.home-top-sales__header {
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-top-sales__title {
  margin: 0;
  color: #171819;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.home-top-sales__progress {
  margin-top: 4rem;
  width: 100%;
  height: 3px;
  background: #BDBDBD;
}
/* DISCOUNTS */
.home-discounts {
  margin-top: 12rem;
}
.home-discounts__header {
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-discounts__title {
  margin: 0;
  color: #171819;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.home-discounts__cards {
  display: flex;
  justify-content: space-between;
}
.home-discounts .default-card {
  max-width: 100%;
  margin-right: 0;
}
.home-discounts__column-thin {
  width: 24.18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-discounts__column-wide {
  width: 45.16%;
}

/* NEW ITEMS */
.home-new-items {
  margin-top: 12rem;
}
.home-new-items__header {
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-new-items__title {
  margin: 0;
  color: #171819;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.home-new-items__progress {
  margin-top: 4rem;
  width: 100%;
  height: 3px;
  background: #BDBDBD;
}

/* ABOUT US */
.home-about {
  margin-top: 12rem;
}
.home-about__header {
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-about__title {
  margin: 0;
  color: #171819;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
.home-about__top {
  display: flex;
  justify-content: space-between;
}
.home-about__image {
  width: 66.7%;
}
.home-about__top-text {
  width: 30.75%;
  padding-right: 1.8rem;
}
.home-about__text-title {
  margin: 0;
  margin-bottom: 4rem;
  color: #171819;
  font-size: 25px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.home-about__text-description {
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.18;
}
.home-about__facts {
  display: flex;
  flex-wrap: wrap;
}
.home-about__fact {
  width: 33.33333%;
  padding: 4rem 0 2rem 2rem;
  border: 1px solid #171819;
}
.home-about__fact-title {
  margin: 0;
  margin-bottom: 1.5rem;
  color: #171819;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.36;
  text-transform: uppercase;
}
.home-about__fact-description {
  margin: 0;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.18;
}

/* SEO TEXT */
.home-seo-text {
  margin-top: 12rem;
  margin-bottom: 14.5rem;
}
.home-seo-text__title {
  margin-bottom: 5rem;
  color: #171819;
  font-size: 4rem;
  font-weight: 600;
  text-transform: uppercase;
}
.home-seo-text__description {
  margin-bottom: 5rem;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.18;
}
.home-seo-text__link {
  display: flex;
  align-items: center;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.18;
  text-decoration: none;
}
.home-seo-text__link img {
  margin-left: 1rem;
  width: 8px;
}

.footer {
  background: #DCDCDC;
  padding: 5rem 0;
}
.footer__body {
  display: flex;
  justify-content: space-between;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  margin-bottom: 3rem;
  width: 11.1rem;
}
.footer__contacts-item {
  margin-bottom: 1rem;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.18;
}
.footer__contacts-socials {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__contacts-social {
  width: 3rem;
  cursor: pointer;
}
.footer__contacts-social:not(:last-child) {
  margin-right: 5rem;
}
.footer__catalog {
  display: flex;
  flex-direction: column;
}
.footer__catalog-title {
  margin-bottom: 3rem;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.18;
}
.footer__catalog-items {
  margin-right: 15rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  -moz-column-gap: 4rem;
       column-gap: 4rem;
  max-height: 25rem;
}
.footer__catalog-item {
  color: #171819;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.18;
  text-decoration: none;
  transition: all 0.3s;
}
.footer__catalog-item:not(:last-child) {
  margin-bottom: 2rem;
}
.footer__catalog-item:hover {
  text-decoration: underline;
}
.footer__links {
  display: flex;
  flex-direction: column;
}
.footer__link {
  color: #171819;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.18;
  text-decoration: none;
  transition: all 0.3s;
}
.footer__link:not(:last-child) {
  margin-bottom: 2rem;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__payment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__payment-title {
  margin-bottom: 2rem;
  width: -moz-max-content;
  width: max-content;
  color: #171819;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.18;
}
.footer__payment-icons {
  max-width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.footer__payment-icon {
  margin-bottom: 2rem;
}
.footer__payment-icon:not(:first-child) {
  margin-left: 3rem;
}